@import 'base';
$width: 144rem;

header{
    background:rgb(33,112,232);
    max-width: $width;
    margin:0 auto;
    h1{
        font-family: MorrisonRegular;
        color: white;
        font-size: 7rem;
        text-align:center;
        margin:0 auto;
        padding-top:4rem;
        padding-bottom:1rem;
        max-width:55rem;
    }
    p {
        margin:0 auto;
        text-align: center;
        color:rgb(184,198,221);
        font-size:3rem;
        max-width:70rem;
        padding-bottom: 8rem;
    }
}
.main {
    max-width:$width;
    padding-top:4.5rem;
    padding-bottom: 7rem;
    text-align:center;
    margin:0 auto;
    overflow: auto;
    color:rgb(1,74,137);
    p:first-of-type {
        font-size:3.4rem;
        font-weight: bold;
    }
    #email_address {
        margin-top: .5rem;
        max-width: 51rem;
        width:95%;
        line-height: 4rem;
        font-size: 2.4rem;
        color: inherit;
        padding-left: 1rem;
        border: 1px solid rgb(204,204,204);
        outline: none;
        display:inline-block;
    }
    
    hr{
        background: rgb(214,220,230);
        height:.2rem;
        border: none;
        margin-top: 4rem;
        margin-left: 3%;
        margin-right: 3%;
    }
    p:last-of-type {
        margin-top:4rem;
        font-size:3rem;
        font-weight: bold;
    }
    .vote-list {
        margin:0 auto;
        max-width: 50rem;
        overflow:hidden;
        li{
            text-align: center;
            float:left;
            img{
                margin-left:3rem;
                width: 21rem;
                height: auto;
                vertical-align: middle;
            }
            height: 28rem;
            line-height: 28rem;
            
            @media (max-width: 32em) {
                /* 30*16px = 480px */
                width:100%;
                img{
                    width:20rem;
                    margin-left: 0rem;
                    vertical-align: middle;
                }
            }
        }
        
        &:after {
            content:" ";
            display:block;
            clear:both;
        }
        
        .selected img {
            background: white;   
        }
    }
    .vote {
        max-width: 51rem;
        display:inline-block;
        width:95%;
        height: 4rem;
        background:rgb(254,87,61);
        font-size:3rem;
        color:white;
        font-family: inherit;
        margin-top:2rem;
        border: none;
        &:hover {
            background: rgb(254,40,20);
            transition-duration: 167ms;
            -moz-transition-duration: 167ms;
            -webkit-transition-duration: 167ms;
            -ms-transition-duration: 167ms;
        }
    }
    
    .flash-success {
        color: rgb(60,118,61);
        margin-top:1.5rem;
        font-size: 2.8rem;
    }
    
    .flash-warning {
        color: rgb(169,68,66);
        margin-top: 1.5rem;
        font-size: 2.8rem;
    }
}
footer {
    background: rgb(255,255,255);
    margin: 0 auto;
    max-width: $width;
    padding-top: 2rem;
    padding-bottom: 1rem;
    .outer {
        margin: 0 auto;
        width: 100%;
        >li {
            height: 4rem;
            float: left;
            img {
                height: 4rem;
                width: auto;
            }
        }
        .left {
            width:38%;
            text-align: right;
        }
        .right {
            width:62%;
        }
        .inner {
            margin-left: 4rem;
            li {
                float: left;
                line-height: 4rem;
                font-size: 1.8rem;
                margin-right:.4rem;
                padding-top:.5rem;
            }
        }
    }
    &:after {
        content:"content";
        visibility: hidden;
        display:block;
        clear:both;
    }
    
    @media screen and (min-width:32.1em) and (max-width:49em) {
        .outer {
            >li {
                height: 9rem;
                img {
                    margin-top:1.6rem;
                }    
            }
        }
    }
    
    @media screen and (max-width: 32em) {
        /* 30*16px = 480px */
        height: 20rem;
         .outer {
            >li {
                height: 18rem;
                float: left;
                img {
                    width: 100%;
                    height: auto;
                    margin-top:5rem;
                    margin-left:2rem;
                }
            }
            .left {
                width:50%;
                text-align: right;
            }
            .right {
                width:50%;
            }
            .inner {
                margin-left: 4rem;
                li {
                    width: 100%;
                    float: left;
                    line-height: 2rem;
                    margin-right:.4rem;
                    padding-top:.5rem;
                }
            }
        }
    }
}